<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title>Document</title>
<style>
  .active{color:red;}
</style>
</head>
<body>
  <!-- 作业需求:点击列表中的哪一项，该项文字变红色 -->
<div id='app'>
  <ul>
    <li v-for="(m,i) in movies" :class="{active:currentIndex == i}" v-on:click="getClass(i)">
      {{m}}
    </li>
  </ul>
  <ul type="none">
    <li v-for="(m,i) in movies" :class="{active:i==currentIndex}" v-on:click="toggle(i)">
      {{i}}->{{m}}
    </li>
  </ul>
</div>
<script src='../js/vue.js'></script>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      movies:['当幸福来敲门','楚门的世界','蓝皮书','霍比特人'],
      currentIndex:0,//当前下标
    },
    methods:{
      getClass:function(i){
       this.currentIndex = i;
      },
      toggle(i){
        this.currentIndex = i;
      }
    }
  })
</script>
</body>
</html>